﻿@model WebApplication2.Models.Urun

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Urun</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fiyat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fiyat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Renk)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Renk)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Beden)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Beden)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Yildiz)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Yildiz)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tur)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tur)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tarz)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tarz)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Baski)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Baski)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UrunFoto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UrunFoto)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
