﻿@model WebApplication2.Models.Urun

@using PagedList.Mvc;


@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <div class="card">
        <div class="container-fliud">
            <div class="wrapper row">
                <div class="preview col-md-6">
                    <div class="preview-pic tab-content">
                        <img style='width:100%; height:auto; border:solid 1px #cccccc;' src="data:image/png;base64,@System.Convert.ToBase64String(Model.UrunFoto)" />
                        
                    </div>
                </div>
                <div class="details col-md-6">
                    <h3 class="product-title">@Html.DisplayFor(model => model.Ad)</h3>
                    <div class="rating">
                        <div id="stars" class="starrr"></div>
                        Bu ürüne <span id="count">@Html.DisplayFor(model => model.Yildiz)</span> yıldız verdiniz.
                    </div>
                    <p class="product-description">Suspendisse quos? Tempus cras iure temporibus? Eu laudantium cubilia sem sem! Repudiandae et! Massa senectus enim minim sociosqu delectus posuere.</p>
                    <h4 class="price">Fiyat: <span>@Html.DisplayFor(model => model.Fiyat)₺</span></h4>
                    <p class="vote"><strong>91%</strong> kullanıcı bu ürünü beğendi! <strong>(87 oy)</strong></p>
                    <h5 class="sizes">
                        Beden:
                        <span class="size" data-toggle="tooltip" title="beden">@Html.DisplayFor(model => model.Beden)</span>
                    </h5>
                    <h5 class="colors">
                        Tişört Rengi:
                        @Html.DisplayFor(model => model.Renk)
                    </h5>
                    <div class="action">
                        <a href="@Url.Action("SatinAl", new { id = Model.UrunID })" class="add-to-cart btn btn-default glyphicon glyphicon-shopping-cart" role="button"><font face="helvetica">Satın Al</font></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <ul class="tab">
        <li><a href="javascript:void(0)" class="tablinks" onclick="openCity(event, 'Info' )" id="ilk">Ürün Bilgisi</a></li>
        <li><a href="javascript:void(0)" class="tablinks" onclick="openCity(event, 'Pay')">Ödeme Seçenekleri</a></li>
        <li><a href="javascript:void(0)" class="tablinks" onclick="openCity(event, 'Suggest')">Önerileriniz</a></li>
    </ul>
    <div id="Info" class="tabcontent">
        <table class="table table-striped">
            <tr>
                <td class="active">Tarzı</td>
                <td class="active">: @Html.DisplayFor(model => model.Tarz)</td>
            </tr>
            <tr>
                <td>Kumaş</td>
                <td>: @Html.DisplayFor(model => model.Tur)</td>
            </tr>
            <tr>
                <td class="active">Baskı Türü</td>
                <td class="active">: @Html.DisplayFor(model => model.Baski)</td>
            </tr>
        </table>
    </div>
    <div id="Pay" class="tabcontent">
        <div id="contents_4">
            <table class="_borderNone wpe100" cellpadding="0" cellspacing="0">
                <tbody>
                    <tr>
                        <td width="361" style="background-color:#F8E3F0" valign="top">
                            <table cellspacing="1">
                                <tbody>
                                    <tr>
                                        <td bgcolor="#CCCCCC" align="center" height="50" width="46"></td>
                                        <td colspan="2" align="center" height="20" width="361" bgcolor="#F8E3F0"><img src="http://www.maximum.com.tr/TR/_layouts/ISB_DA/MXM_Master_Assets/Images/logo_maximum.png" height="40" width="100"><br><b>T. İş Bankası</b><br><b>&nbsp;</b></td>
                                    </tr>
                                    <tr>
                                        <td bgcolor="#CCCCCC" align="center" height="50" width="46">Taksit Sayısı</td>
                                        <td width="41" align="center" height="50" bgcolor="#F8E3F0">Taksit (TL)</td>
                                        <td bgcolor="#F8E3F0" width="41" align="center">Toplam (TL)</td>
                                    </tr>
                                    <tr>
                                        <td align="center" height="30" bgcolor="#CCCCCC">1</td>
                                        <td align="center" height="30" bgcolor="#F8E3F0"><b>34,90</b></td>
                                        <td align="center" bgcolor="#F8E3F0"><b>34,90</b></td>
                                    </tr>
                                    <tr>
                                        <td align="center" height="20" bgcolor="#CCCCCC">2</td>
                                        <td align="center" height="20" bgcolor="#F8E3F0">18,35 </td>
                                        <td align="center" bgcolor="#F8E3F0">36,70</td>
                                    </tr>
                                    <tr>
                                        <td align="center" height="20" bgcolor="#CCCCCC">3</td>
                                        <td align="center" height="20" bgcolor="#F8E3F0">12,31 </td>
                                        <td align="center" bgcolor="#F8E3F0">36,94</td>
                                    </tr>
                                    <tr>
                                        <td align="center" height="20" bgcolor="#CCCCCC">4</td>
                                        <td align="center" height="20" bgcolor="#F8E3F0">9,34 </td>
                                        <td align="center" bgcolor="#F8E3F0">37,34</td>
                                    </tr>
                                    <tr>
                                        <td align="center" height="20" bgcolor="#CCCCCC">5</td>
                                        <td align="center" height="20" bgcolor="#F8E3F0">7,52 </td>
                                        <td align="center" bgcolor="#F8E3F0">37,58</td>
                                    </tr>
                                    <tr>
                                        <td align="center" height="20" bgcolor="#CCCCCC">6</td>
                                        <td align="center" height="20" bgcolor="#F8E3F0">6,28 </td>
                                        <td align="center" bgcolor="#F8E3F0">37,65</td>
                                    </tr>
                                    <tr>
                                        <td align="center" height="20" bgcolor="#CCCCCC">7</td>
                                        <td align="center" height="20" bgcolor="#F8E3F0">5,44 </td>
                                        <td align="center" bgcolor="#F8E3F0">38,08</td>
                                    </tr>
                                    <tr>
                                        <td align="center" height="20" bgcolor="#CCCCCC">8</td>
                                        <td align="center" height="20" bgcolor="#F8E3F0">4,79 </td>
                                        <td align="center" bgcolor="#F8E3F0">38,33</td>
                                    </tr>
                                    <tr>
                                        <td align="center" height="20" bgcolor="#CCCCCC">9</td>
                                        <td align="center" height="20" bgcolor="#F8E3F0">4,29 </td>
                                        <td align="center" bgcolor="#F8E3F0">38,59</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                        <td width="361" style="background-color:#EDF4E6" valign="top">
                            <table cellspacing="1">
                                <tbody>
                                    <tr>
                                        <td bgcolor="#CCCCCC" align="center" height="50" width="46"></td>
                                        <td colspan="2" align="center" height="20" width="361" bgcolor="#EDF4E6"><img src="https://www.bonus.com.tr/bonus2016/images/logo.png?v2" height="40" width="100"><br><b>Garanti Bankası</b><br><b>&nbsp;</b></td>
                                    </tr>
                                    <tr>
                                        <td bgcolor="#CCCCCC" align="center" height="50" width="46">Taksit Sayısı</td>
                                        <td width="41" align="center" height="50" bgcolor="#EDF4E6">Taksit (TL)</td>
                                        <td bgcolor="#EDF4E6" width="41" align="center">Toplam (TL)</td>
                                    </tr>
                                    <tr>
                                        <td align="center" height="30" bgcolor="#CCCCCC">1</td>
                                        <td align="center" height="30" bgcolor="#EDF4E6"><b>34,90</b></td>
                                        <td align="center" bgcolor="#EDF4E6"><b>34,90</b></td>
                                    </tr>
                                    <tr>
                                        <td align="center" height="20" bgcolor="#CCCCCC">2</td>
                                        <td align="center" height="20" bgcolor="#EDF4E6">18,35 </td>
                                        <td align="center" bgcolor="#EDF4E6">36,70</td>
                                    </tr>
                                    <tr>
                                        <td align="center" height="20" bgcolor="#CCCCCC">3</td>
                                        <td align="center" height="20" bgcolor="#EDF4E6">12,31 </td>
                                        <td align="center" bgcolor="#EDF4E6">36,94</td>
                                    </tr>
                                    <tr>
                                        <td align="center" height="20" bgcolor="#CCCCCC">4</td>
                                        <td align="center" height="20" bgcolor="#EDF4E6">9,34 </td>
                                        <td align="center" bgcolor="#EDF4E6">37,34</td>
                                    </tr>
                                    <tr>
                                        <td align="center" height="20" bgcolor="#CCCCCC">5</td>
                                        <td align="center" height="20" bgcolor="#EDF4E6">7,52 </td>
                                        <td align="center" bgcolor="#EDF4E6">37,58</td>
                                    </tr>
                                    <tr>
                                        <td align="center" height="20" bgcolor="#CCCCCC">6</td>
                                        <td align="center" height="20" bgcolor="#EDF4E6">6,28 </td>
                                        <td align="center" bgcolor="#EDF4E6">37,65</td>
                                    </tr>
                                    <tr>
                                        <td align="center" height="20" bgcolor="#CCCCCC">7</td>
                                        <td align="center" height="20" bgcolor="#EDF4E6">5,44 </td>
                                        <td align="center" bgcolor="#EDF4E6">38,08</td>
                                    </tr>
                                    <tr>
                                        <td align="center" height="20" bgcolor="#CCCCCC">8</td>
                                        <td align="center" height="20" bgcolor="#EDF4E6">4,79 </td>
                                        <td align="center" bgcolor="#EDF4E6">38,33</td>
                                    </tr>
                                    <tr>
                                        <td align="center" height="20" bgcolor="#CCCCCC">9</td>
                                        <td align="center" height="20" bgcolor="#EDF4E6">4,29 </td>
                                        <td align="center" bgcolor="#EDF4E6">38,59</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                        <td width="361" style="background-color:#F4F6DB" valign="top">
                            <table cellspacing="1">
                                <tbody>
                                    <tr>
                                        <td bgcolor="#CCCCCC" align="center" height="50" width="46"></td>
                                        <td colspan="2" align="center" height="20" width="361" bgcolor="#F4F6DB"><img src="http://www.akbank.com/SiteAssets/img/akbtw.jpg" height="40" width="100"><br><b>Akbank</b><br><b>&nbsp;</b></td>
                                    </tr>
                                    <tr>
                                        <td bgcolor="#CCCCCC" align="center" height="50" width="46">Taksit Sayısı</td>
                                        <td width="41" align="center" height="50" bgcolor="#F4F6DB">Taksit (TL)</td>
                                        <td bgcolor="#F4F6DB" width="41" align="center">Toplam (TL)</td>
                                    </tr>
                                    <tr>
                                        <td align="center" height="30" bgcolor="#CCCCCC">1</td>
                                        <td align="center" height="30" bgcolor="#F4F6DB"><b>34,90</b></td>
                                        <td align="center" bgcolor="#F4F6DB"><b>34,90</b></td>
                                    </tr>
                                    <tr>
                                        <td align="center" height="20" bgcolor="#CCCCCC">2</td>
                                        <td align="center" height="20" bgcolor="#F4F6DB">18,35 </td>
                                        <td align="center" bgcolor="#F4F6DB">36,70</td>
                                    </tr>
                                    <tr>
                                        <td align="center" height="20" bgcolor="#CCCCCC">3</td>
                                        <td align="center" height="20" bgcolor="#F4F6DB">12,31 </td>
                                        <td align="center" bgcolor="#F4F6DB">36,94</td>
                                    </tr>
                                    <tr>
                                        <td align="center" height="20" bgcolor="#CCCCCC">4</td>
                                        <td align="center" height="20" bgcolor="#F4F6DB">9,34 </td>
                                        <td align="center" bgcolor="#F4F6DB">37,34</td>
                                    </tr>
                                    <tr>
                                        <td align="center" height="20" bgcolor="#CCCCCC">5</td>
                                        <td align="center" height="20" bgcolor="#F4F6DB">7,52 </td>
                                        <td align="center" bgcolor="#F4F6DB">37,58</td>
                                    </tr>
                                    <tr>
                                        <td align="center" height="20" bgcolor="#CCCCCC">6</td>
                                        <td align="center" height="20" bgcolor="#F4F6DB">6,28 </td>
                                        <td align="center" bgcolor="#F4F6DB">37,65</td>
                                    </tr>
                                    <tr>
                                        <td align="center" height="20" bgcolor="#CCCCCC">7</td>
                                        <td align="center" height="20" bgcolor="#F4F6DB">5,44 </td>
                                        <td align="center" bgcolor="#F4F6DB">38,08</td>
                                    </tr>
                                    <tr>
                                        <td align="center" height="20" bgcolor="#CCCCCC">8</td>
                                        <td align="center" height="20" bgcolor="#F4F6DB">4,79 </td>
                                        <td align="center" bgcolor="#F4F6DB">38,33</td>
                                    </tr>
                                    <tr>
                                        <td align="center" height="20" bgcolor="#CCCCCC">9</td>
                                        <td align="center" height="20" bgcolor="#F4F6DB">4,29 </td>
                                        <td align="center" bgcolor="#F4F6DB">38,59</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td width="361" style="background-color:#E4E9F4" valign="top">
                            <table cellspacing="1">
                                <tbody>
                                    <tr>
                                        <td bgcolor="#CCCCCC" align="center" height="50" width="46"></td>
                                        <td colspan="2" align="center" height="20" width="361" bgcolor="#E4E9F4"><img src="http://www.dunya.com/uploads/content/finansbank-logojpg.jpg?v=1477044686" height="40" width="100"><br><b>Finansbank</b><br><b>&nbsp;</b></td>
                                    </tr>
                                    <tr>
                                        <td bgcolor="#CCCCCC" align="center" height="50" width="46">Taksit Sayısı</td>
                                        <td width="41" align="center" height="50" bgcolor="#E4E9F4">Taksit (TL)</td>
                                        <td bgcolor="#E4E9F4" width="41" align="center">Toplam (TL)</td>
                                    </tr>
                                    <tr>
                                        <td align="center" height="30" bgcolor="#CCCCCC">1</td>
                                        <td align="center" height="30" bgcolor="#E4E9F4"><b>34,90</b></td>
                                        <td align="center" bgcolor="#E4E9F4"><b>34,90</b></td>
                                    </tr>
                                    <tr>
                                        <td align="center" height="20" bgcolor="#CCCCCC">2</td>
                                        <td align="center" height="20" bgcolor="#E4E9F4">18,35 </td>
                                        <td align="center" bgcolor="#E4E9F4">36,70</td>
                                    </tr>
                                    <tr>
                                        <td align="center" height="20" bgcolor="#CCCCCC">3</td>
                                        <td align="center" height="20" bgcolor="#E4E9F4">12,31 </td>
                                        <td align="center" bgcolor="#E4E9F4">36,94</td>
                                    </tr>
                                    <tr>
                                        <td align="center" height="20" bgcolor="#CCCCCC">4</td>
                                        <td align="center" height="20" bgcolor="#E4E9F4">9,34 </td>
                                        <td align="center" bgcolor="#E4E9F4">37,34</td>
                                    </tr>
                                    <tr>
                                        <td align="center" height="20" bgcolor="#CCCCCC">5</td>
                                        <td align="center" height="20" bgcolor="#E4E9F4">7,52 </td>
                                        <td align="center" bgcolor="#E4E9F4">37,58</td>
                                    </tr>
                                    <tr>
                                        <td align="center" height="20" bgcolor="#CCCCCC">6</td>
                                        <td align="center" height="20" bgcolor="#E4E9F4">6,28 </td>
                                        <td align="center" bgcolor="#E4E9F4">37,65</td>
                                    </tr>
                                    <tr>
                                        <td align="center" height="20" bgcolor="#CCCCCC">7</td>
                                        <td align="center" height="20" bgcolor="#E4E9F4">5,44 </td>
                                        <td align="center" bgcolor="#E4E9F4">38,08</td>
                                    </tr>
                                    <tr>
                                        <td align="center" height="20" bgcolor="#CCCCCC">8</td>
                                        <td align="center" height="20" bgcolor="#E4E9F4">4,79 </td>
                                        <td align="center" bgcolor="#E4E9F4">38,33</td>
                                    </tr>
                                    <tr>
                                        <td align="center" height="20" bgcolor="#CCCCCC">9</td>
                                        <td align="center" height="20" bgcolor="#E4E9F4">4,29 </td>
                                        <td align="center" bgcolor="#E4E9F4">38,59</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                        <td width="361" style="background-color:#FBEDE6" valign="top">
                            <table cellspacing="1">
                                <tbody>
                                    <tr>
                                        <td bgcolor="#CCCCCC" align="center" height="50" width="46"></td>
                                        <td colspan="2" align="center" height="20" width="361" bgcolor="#FBEDE6"><img src="http://kredi-hesaplama.com/wp-content/uploads/2015/11/halk_bankasi_mudurde_kutu_ya_calisanlara_h48158.png" height="40" width="100"><br><b>T.Halk Bankası</b><br><b>&nbsp;</b></td>
                                    </tr>
                                    <tr>
                                        <td bgcolor="#CCCCCC" align="center" height="50" width="46">Taksit Sayısı</td>
                                        <td width="41" align="center" height="50" bgcolor="#FBEDE6">Taksit (TL)</td>
                                        <td bgcolor="#FBEDE6" width="41" align="center">Toplam (TL)</td>
                                    </tr>
                                    <tr>
                                        <td align="center" height="30" bgcolor="#CCCCCC">1</td>
                                        <td align="center" height="30" bgcolor="#FBEDE6"><b>34,90</b></td>
                                        <td align="center" bgcolor="#FBEDE6"><b>34,90</b></td>
                                    </tr>
                                    <tr>
                                        <td align="center" height="20" bgcolor="#CCCCCC">2</td>
                                        <td align="center" height="20" bgcolor="#FBEDE6">18,35 </td>
                                        <td align="center" bgcolor="#FBEDE6">36,70</td>
                                    </tr>
                                    <tr>
                                        <td align="center" height="20" bgcolor="#CCCCCC">3</td>
                                        <td align="center" height="20" bgcolor="#FBEDE6">12,31 </td>
                                        <td align="center" bgcolor="#FBEDE6">36,94</td>
                                    </tr>
                                    <tr>
                                        <td align="center" height="20" bgcolor="#CCCCCC">4</td>
                                        <td align="center" height="20" bgcolor="#FBEDE6">9,34 </td>
                                        <td align="center" bgcolor="#FBEDE6">37,34</td>
                                    </tr>
                                    <tr>
                                        <td align="center" height="20" bgcolor="#CCCCCC">5</td>
                                        <td align="center" height="20" bgcolor="#FBEDE6">7,52 </td>
                                        <td align="center" bgcolor="#FBEDE6">37,58</td>
                                    </tr>
                                    <tr>
                                        <td align="center" height="20" bgcolor="#CCCCCC">6</td>
                                        <td align="center" height="20" bgcolor="#FBEDE6">6,28 </td>
                                        <td align="center" bgcolor="#FBEDE6">37,65</td>
                                    </tr>
                                    <tr>
                                        <td align="center" height="20" bgcolor="#CCCCCC">7</td>
                                        <td align="center" height="20" bgcolor="#FBEDE6">5,44 </td>
                                        <td align="center" bgcolor="#FBEDE6">38,08</td>
                                    </tr>
                                    <tr>
                                        <td align="center" height="20" bgcolor="#CCCCCC">8</td>
                                        <td align="center" height="20" bgcolor="#FBEDE6">4,79 </td>
                                        <td align="center" bgcolor="#FBEDE6">38,33</td>
                                    </tr>
                                    <tr>
                                        <td align="center" height="20" bgcolor="#CCCCCC">9</td>
                                        <td align="center" height="20" bgcolor="#FBEDE6">4,29 </td>
                                        <td align="center" bgcolor="#FBEDE6">38,59</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                        <td width="361" style="background-color:#F1E7F3" valign="top">
                            <table cellspacing="1">
                                <tbody>
                                    <tr>
                                        <td bgcolor="#CCCCCC" align="center" height="50" width="46"></td>
                                        <td colspan="2" align="center" height="20" width="361" bgcolor="#F1E7F3"><img src="http://www.bsnods.com/v2/ups/1388057371_YAPI_KREDI_LOGO.JPG" height="40" width="100"><br><b>Yapı Kredi</b><br><b>&nbsp;</b></td>
                                    </tr>
                                    <tr>
                                        <td bgcolor="#CCCCCC" align="center" height="50" width="46">Taksit Sayısı</td>
                                        <td width="41" align="center" height="50" bgcolor="#F1E7F3">Taksit (TL)</td>
                                        <td bgcolor="#F1E7F3" width="41" align="center">Toplam (TL)</td>
                                    </tr>
                                    <tr>
                                        <td align="center" height="30" bgcolor="#CCCCCC">1</td>
                                        <td align="center" height="30" bgcolor="#F1E7F3"><b>34,90</b></td>
                                        <td align="center" bgcolor="#F1E7F3"><b>34,90</b></td>
                                    </tr>
                                    <tr>
                                        <td align="center" height="20" bgcolor="#CCCCCC">2</td>
                                        <td align="center" height="20" bgcolor="#F1E7F3">18,35 </td>
                                        <td align="center" bgcolor="#F1E7F3">36,70</td>
                                    </tr>
                                    <tr>
                                        <td align="center" height="20" bgcolor="#CCCCCC">3</td>
                                        <td align="center" height="20" bgcolor="#F1E7F3">12,31 </td>
                                        <td align="center" bgcolor="#F1E7F3">36,94</td>
                                    </tr>
                                    <tr>
                                        <td align="center" height="20" bgcolor="#CCCCCC">4</td>
                                        <td align="center" height="20" bgcolor="#F1E7F3">9,34 </td>
                                        <td align="center" bgcolor="#F1E7F3">37,34</td>
                                    </tr>
                                    <tr>
                                        <td align="center" height="20" bgcolor="#CCCCCC">5</td>
                                        <td align="center" height="20" bgcolor="#F1E7F3">7,52 </td>
                                        <td align="center" bgcolor="#F1E7F3">37,58</td>
                                    </tr>
                                    <tr>
                                        <td align="center" height="20" bgcolor="#CCCCCC">6</td>
                                        <td align="center" height="20" bgcolor="#F1E7F3">6,28 </td>
                                        <td align="center" bgcolor="#F1E7F3">37,65</td>
                                    </tr>
                                    <tr>
                                        <td align="center" height="20" bgcolor="#CCCCCC">7</td>
                                        <td align="center" height="20" bgcolor="#F1E7F3">5,44 </td>
                                        <td align="center" bgcolor="#F1E7F3">38,08</td>
                                    </tr>
                                    <tr>
                                        <td align="center" height="20" bgcolor="#CCCCCC">8</td>
                                        <td align="center" height="20" bgcolor="#F1E7F3">4,79 </td>
                                        <td align="center" bgcolor="#F1E7F3">38,33</td>
                                    </tr>
                                    <tr>
                                        <td align="center" height="20" bgcolor="#CCCCCC">9</td>
                                        <td align="center" height="20" bgcolor="#F1E7F3">4,29 </td>
                                        <td align="center" bgcolor="#F1E7F3">38,59</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table><table cellpadding="0" cellspacing="0" align="left" style="margin-left:15px;"></table>
        </div>
    </div>

    <div id="Suggest" class="tabcontent">
        <div class="checkbox">
            <label>
                <input type="checkbox" value="">
                Ürün resmi kalitesiz, bozuk veya görüntülenemiyor.
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="">
                Ürün açıklamasında eksik bilgiler bulunuyor.
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="">
                Ürün bilgilerinde hatalar bulunuyor.
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="">
                Ürün fiyatı diğer sitelerden daha pahalı.
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="">
                Bu ürüne benzer farklı alternatifler olmalı.
            </label>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary btn-lg" style="background-color:#ff9900">Gönder</button>
        </div>
    </div>

</div>





<script>
function openCity(evt, cityName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
}

// Get the element with id="defaultOpen" and click on it
document.getElementById("ilk").click();
</script>



        