﻿@model PagedList.IPagedList<WebApplication2.Models.Urun>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Home Page";
}



<div>
    @{Html.RenderAction("_Slider", "Home");}
</div>
<hr />

<div class="col-md-4 col-sm-4 col-xs-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">KELEPİR</h3>
        </div>
@foreach (var item in Model)
{
    <div class="col-md-12">
        <div class="thumbnail">
            <img src="http://placehold.it/500x300" alt="">
            <div class="caption">
                <h4>@Html.DisplayFor(modelItem => item.Ad) / @Html.DisplayFor(modelItem => item.Fiyat)₺  <a href="@Url.Action("Details", new { id = item.UrunID })" class="btn btn-info" style="float:right"><span class="glyphicon glyphicon-list"></span> Detaylar</a></h4>
            </div>
        </div>
    </div>
}
    </div>

</div>
<div class="col-md-4 col-sm-4 col-xs-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">ÖNE ÇIKANLAR</h3>
        </div>
        @foreach (var item in Model)
        {
            <div class="col-md-12">
                <div class="thumbnail">
                    <img src="http://placehold.it/500x300" alt="">
                    <div class="caption">
                        <h4>@Html.DisplayFor(modelItem => item.Ad) / @Html.DisplayFor(modelItem => item.Fiyat)₺  <a href="@Url.Action("Details", new { id = item.UrunID })" class="btn btn-info" style="float:right"><span class="glyphicon glyphicon-list"></span> Detaylar</a></h4>
                    </div>
                </div>
            </div>
        }
    </div>

</div>
<div class="col-md-4 col-sm-4 col-xs-12">
    <div class="panel panel-primary">
        <div class="panel-heading ">
            <h3 class="panel-title ">BİZE NASIL TASARIM YOLLARSIN</h3>
        </div>
        <div class="panel-body">
            İlk önce üyelik açmalısın. Daha sonra "Kendin Tasarla" bölümünden tasarımını bize <b>e-posta</b> yolu ile gönder. 3 günde eline ulaşsın...
        </div>
    </div>
</div>


