﻿@model WebApplication2.Models.Urun
@{
    ViewBag.Title = "SatinAl";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="bootstrap-colorselector.css" />
    <script src="jquery.min.js"></script>
    <script src="bootstrap.min.js"></script>
    <script src="bootstrap-colorselector.js"></script>
</head>
<div class="card col-md-6">
    <div class="container-fliud">
        <div class="wrapper row">
            <div class="preview col-md-6">
                <div class="preview-pic tab-content">
                    <img style='width:100%; height:auto; border:solid 1px #cccccc;' src="data:image/png;base64,@System.Convert.ToBase64String(Model.UrunFoto)" />
                </div>
              
            </div>
            <div class="details col-md-6">
                <h3 class="product-title">@Html.DisplayFor(model => model.Ad)</h3>
                <div class="rating">
                    <div id="stars" class="starrr"></div>
                    Bu ürüne <span id="count">@Html.DisplayFor(model => model.Yildiz)</span> yıldız verdiniz.
                </div>
                <p class="product-description">Suspendisse quos? Tempus cras iure temporibus? Eu laudantium cubilia sem sem! Repudiandae et! Massa senectus enim minim sociosqu delectus posuere.</p>
                <h4 class="price">Fiyat: <span>@Html.DisplayFor(model => model.Fiyat)₺</span></h4>
                <p class="vote"><strong>91%</strong> kullanıcı bu ürünü beğendi! <strong>(87 oy)</strong></p>
                <h5 class="sizes">
                    Beden:
                    <span class="size" data-toggle="tooltip" title="beden">@Html.DisplayFor(model => model.Beden)</span>
                </h5>
                <h5 class="colors">
                    Tişört Rengi:
                    @Html.DisplayFor(model => model.Renk)
                </h5>
               
                </div>
        </div>
    </div>
</div>
<div class="card container col-md-offset-7" style="max-height: 546px;">
    <div class="row">
        <div class="col-xs-12 col-md-11">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Ödeme Detayları
                    </h3>
                </div>
                <div class="panel-body">
                    <form role="form">
                        <div class="form-group">
                            <label for="cardNumber">
                                KART NUMARASI
                            </label>
                            <div class="input-group">
                                <input type="password" class="form-control" id="cardNumber" placeholder="Kart Numarası Girin" required maxlength="12" min="0"  step="1" data-bind="value:replyNumber"  />
                                <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-7 col-md-7">
                                <div class="form-group">
                                    <label for="expityMonth">
                                        KART DOLUM TARİHİ
                                    </label>
                                    <div class="col-xs-6 col-lg-6 pl-ziro">
                                        <input type="password" class="form-control" id="expityMonth" placeholder="AA" required maxlength="2" min="0"  step="1" data-bind="value:replyNumber"  />
                                    </div>
                                    <div class="col-xs-6 col-lg-6 pl-ziro">
                                        <input type="password" class="form-control" id="expityYear" placeholder="YY" required maxlength="2"  min="0" step="1" data-bind="value:replyNumber"  />
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-5 col-md-5 pull-right">
                                <div class="form-group">
                                    <label for="cvCode">
                                        CV KODU
                                    </label>
                                    <input type="password" class="form-control" id="cvCode" placeholder="CV" required maxlength="3" min="0" step="1" data-bind="value:replyNumber" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <ul class="nav nav-pills nav-stacked">
                <li class="active">
                    <a href="#"><span class="badge pull-right">@Html.DisplayFor(model => model.Fiyat)<i class="fa fa-try"></i></span> Ödenecek Tutar</a>
                </li>
            </ul>
            <br />
            <a href="https://3dsecure.akbank.com.tr/akbankacs/shopping2.do" class="btn btn-success btn-lg btn-block" role="button">Öde</a>
        </div>
    </div>
</div>


