﻿@model PagedList.IPagedList<WebApplication2.Models.Urun>
@using PagedList.Mvc;

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Search</h2>
<div class="row">
    @foreach (var item in Model)
    {

        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="http://geniussys.com/img/placeholder/blogpost-placeholder-100x100.png" alt="...">
                <div class="caption text-center">
                    <h3>@Html.DisplayFor(modelItem => item.Ad)</h3>
                    <p>@Html.DisplayFor(modelItem => item.Fiyat)₺</p>
                    <p><a href="@Url.Action("SatinAl", new { id = item.UrunID })" class="btn btn-info"><span class="glyphicon glyphicon-shopping-cart"></span> Satın Al</a> <a href="@Url.Action("Details", new { id = item.UrunID })" class="btn btn-info"><span class="glyphicon glyphicon-list"></span> Detaylar</a></p>
                </div>
            </div>
        </div>
    }
</div>

<div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12" VertialAllign="Down">
            <nav aria-label="Page navigation">
                <div class="text-center">
                    @Html.PagedListPager(Model, page => Url.Action("Sirala", new { page, currentFilter = ViewBag.CurrentFilter }), PagedListRenderOptions.Classic)
                </div>
            </nav>
        </div>
</div>


    @*<tr>
        <td>
            @Html.DisplayFor(modelItem => item.Ad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fiyat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Renk)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Beden)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Yildiz)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tur)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tarz)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Baski)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UrunID }) |
            @Html.ActionLink("Details", "Details", new { id=item.UrunID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.UrunID })
        </td>
    </tr>
}*@
    

