﻿@model PagedList.IPagedList<WebApplication2.Models.Urun>
@using PagedList.Mvc;



@{
    ViewBag.Title = "Sirala";

}

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-12">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="http://geniussys.com/img/placeholder/blogpost-placeholder-100x100.png" alt="...">
                <div class="caption text-center">
                    <h3>@Html.DisplayFor(modelItem => item.Ad)</h3>
                    <p>@Html.DisplayFor(modelItem => item.Fiyat)₺</p>
                    <p><a href="@Url.Action("SatinAl", new { id = item.UrunID })" class="btn btn-primary" role="button">Sepete Ekle</a> <a href="@Url.Action("Details", new { id = item.UrunID })" class="btn btn-info"><span class="glyphicon glyphicon-list"></span> Detaylar</a></p>
                </div>
            </div>
        </div>
            </div>

    }
</div>

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12" VertialAllign="Down">
        <nav aria-label="Page navigation">
            <div class="text-center">
                @Html.PagedListPager(Model, page => Url.Action("Sirala", new { page, currentFilter = ViewBag.CurrentFilter }), PagedListRenderOptions.Classic)
            </div>
        </nav>
    </div>
</div>

