﻿
@{
    Layout = null;
}

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <a href="http://localhost:60300/Urun/Details/1"> <img src="http://artmywish.com/wp-content/uploads/2016/11/kallyas_placeholder-1140x470.png"></a>
            <div class="carousel-caption">
                1.slider
            </div>
        </div>
        <div class="item">
            <a href="http://localhost:60300/Urun/Details/2"> <img src="http://artmywish.com/wp-content/uploads/2016/11/kallyas_placeholder-1140x470.png"></a>
            <div class="carousel-caption">
                2.slider
            </div>
        </div>
        <div class="item">
            <a href="http://localhost:60300/Urun/Details/3"> <img src="http://artmywish.com/wp-content/uploads/2016/11/kallyas_placeholder-1140x470.png"></a>
            <div class="carousel-caption">
                3.slider
            </div>
        </div>
    </div>
    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>



