﻿@{
    ViewBag.Title = "Contact";
}

<div class="col-md-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d96722.94269401899!2d30.312254436425363!3d40.74900328081541!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14ccb2fad58e639f%3A0xb84f12f8c14f1221!2sSakarya!5e0!3m2!1str!2str!4v1481720117340" width="550" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>

<div class="col-md-6">
    <div class="jumbotron">
        <div class="text-center">
            <img src="~/Content/images/logom.png" alt="LOGO" width="200" height="80" />
            <br />
            <h2><strong>MAHALLE BASKISI A.Ş.</strong></h2>
            <h4>Bir Doğukan Kırali markası...</h4>
            <h3><strong>Telefon Numaralarımız</strong></h3>
            0(200)5005050<br />
            0(201)6006060
        </div>
    </div>
</div>