﻿@{
    ViewBag.Title = "About";
}
<div class="jumbotron">
    <div class="container">
        <div class="text-center">
            <img src="~/Content/images/logom.png" alt="LOGO" width="200" height="80"/>
            <br/>
            <h2><strong>MAHALLE BASKISI A.Ş.</strong></h2>
            <h4>Bir Doğukan Kırali markası...</h4>            
            <h3><strong>Telefon Numaralarımız</strong></h3>         
            0(200)5005050<br/>
            0(201)6006060
        </div>
    </div>
</div>
<div class="col-md-6">
    <div class="panel panel-default">
        <div class="panel-heading"><div class="text-center"><h3><strong>Vizyonumuz</strong></h3></div></div>
        <div class="panel-body">
            Panel content
        </div>
    </div>
</div>
<div class="col-md-6">
    <div class="panel panel-default">
        <div class="panel-heading"><div class="text-center"><h3><strong>Misyonumuz</strong></h3></div></div>
        <div class="panel-body">
            Panel content
        </div>
    </div>
</div>