﻿@model WebApplication2.Models.Tasarim
@{
    ViewBag.Title = "Design";
}
@using (Html.BeginForm("Design", "Design", null, FormMethod.Post,
                                                      new { enctype = "multipart/form-data" }))
{
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading"><div class="text-center"><h3><strong>TASARIMINI YOLLA, BASALIM</strong></h3></div></div>
            <div class="panel-body" style="background-color:aqua">
                <div class="form-group ">
                    <label for="InputName">AD SOYAD</label>
                    @Html.EditorFor(model => model.Isim, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="form-group">
                    <label for="InputTel">CEP TELEFONU:</label>
                    @Html.EditorFor(model => model.Tel, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="form-group">
                    <label for="comment">ADRES:</label>
                    @Html.EditorFor(model => model.Adres, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-body" style="background-color:blueviolet">
                <div class="text-center"><h3><strong>TASARIMIN</strong></h3></div>
                <div class="form-group">
                    <label for="exampleInputEmail2">E-POSTA </label>
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <label for="comment">BEDEN:</label>
                            @Html.EnumDropDownListFor(model => model.Beden, htmlAttributes: new { @class = "form-control" })
                                
                    <div class="form-group">
                        <label for="comment">EK AÇIKLAMA:</label>
                        @Html.EditorFor(model => model.Aciklama, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div>
                        <div class="text-center">
                            <h4><strong>TASARIMI EKLE</strong></h4>
                            <label class="control-label">Sadece JPG ve PNG</label>
                            <div>
                                <input id="file" title="Upload a product image"
                                       type="file" name="file" />
                            </div>
                            <div class="form-group">
                                <div class="text-center">
                                    <input type="submit" value="Create" class="btn btn-primary btn-lg" style="background-color:#ff9900"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="panel panel-default" style="background-color:#ff9900">
            <div class="panel-body">
                <h3><strong>UFAK HATIRLATMA!</strong></h3><strong>SİTEMİZE GÖNDERDİĞİN HER GÖNDERİ 1 İŞ GÜNÜ İÇERİSİNDE İNCELENECEK OLUP GERİ DÖNÜŞ BİZİMLE İLETİŞİM KURDUĞUNUZ E-POSTA YOLU İLE YAPILACAKTIR. İNCELEME, BASIM VE KARGOLAMA DAHİL <font color="red">3 İŞ GÜNÜ </font>İÇERİSİNDE ÜRÜNÜNÜZ KARGOLANACAKTIR. KARGO FİRMASININ YARATACAĞI PROBLEMLERİN FİRMAMIZ İLE ALAKASI YOKTUR. İYİ ALIŞVERİŞLER!</strong>
            </div>
        </div>
    </div>
}

